@import '~scss-mixin-leobonhart/mixins.scss';

$element-size: 360px;
$image-size: 360px;

:host{
  display: flex;
  // width: $element-size;
  height: 100%;
  background-color: var(--primary-bg-color);
  margin-left: auto;
  margin-right: auto;
  height: calc(100vh - 50px);;
}

.left-side{
  img{
    max-width: $image-size;
    width: 100%;
    height: auto;
    max-height: $image-size;
    object-fit: contain;
  }
}
.right-side{
  $p: 15px;
  $b-height: 36px;
  padding: $p;
  width: 360px;
  .info{
    display: flex;
    flex-direction: column;
    min-height: ($image-size - $p - $b-height);
    .name{
      text-align: center;
      font-size: 22px;
    }
    .description{
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .sizes{
      margin-top: auto;
      display: flex;

      justify-content: space-around;
      border-top: 1px solid var(--size-ripple);
      border-bottom: 1px solid var(--size-ripple);
      .size{
        height: 30px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        user-select: none;
        @include transition(background);
        span{
          @include transition(transform);
        }
        &:hover{
          background-color: var(--size-hover-bg);
        }
        &::ng-deep{
          .mat-ripple-element{
            background-color: var(--size-ripple);
          }
        }
        &.selected{
          background-color: var(--size-active-bg);
          &:hover{
            background-color: var(--size-active-hover-bg);
          }
          &::ng-deep{
            .mat-ripple-element{
              background-color: var(--size-ripple);
            }
          }
          span{
            font-weight: 500;
            transform: scale(1.3);
          }
        }
      }
    }
    .price{
      margin-left: auto;
      padding: 5px;
      font-weight: 500;
      color: var(--product-price-color);
    }
  }


  .buttons{
    display: flex;
    overflow: hidden;
    button{
      @include transition(color, background, text-shadow);
      border-radius: 0;
      background-color: var(--product-button-bg);
      color: var(--product-button-color);
      &:hover{
        background-color: var(--product-button-hover-bg);
        color: var(--product-button-hover-color);
      }
      &:nth-child(1){
        width: 100%;
      }
      &:nth-child(2){
        margin-left: auto;
        min-width: $b-height;
        padding: 0;
        mat-icon{
          @include transition(text-shadow);
        }
      }
    }
  }
}
