<nav>
  <div class="basket-container">
    <span class="total-price" *ngIf="!(emptyBasket$ | async)">{{totalPriceBasket$ | async | currency: 'RUB': 'symbol': '1.0'}}</span>
    <span class="count" *ngIf="!(emptyBasket$ | async)">{{countBasket$ | async}}</span>
    <button mat-icon-button [ngClass]="{empty: emptyBasket$ | async}" (click)="openBasket()">
      <mat-icon>shopping_basket</mat-icon>
    </button>
  </div>
</nav>

  <app-basket>
    <div class="content">
      <router-outlet></router-outlet>
    </div>

  </app-basket>



