@import '~scss-mixin-leobonhart/mixins.scss';

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$DarkLimeTestTask-primary: mat-palette($mat-indigo);
$DarkLimeTestTask-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$DarkLimeTestTask-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$DarkLimeTestTask-theme: mat-light-theme((
  color: (
    primary: $DarkLimeTestTask-primary,
    accent: $DarkLimeTestTask-accent,
    warn: $DarkLimeTestTask-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($DarkLimeTestTask-theme);

/* You can add global styles to this file, and also import other style files */


:root {
  --main-bg-color: #212121;
  --primary-bg-color: #424242;
  --main-color: #FFFFFF;

  --size-hover-bg: #616161;
  --size-active-bg: #757575;
  --size-active-hover-bg: #757575;
  --size-ripple: rgba(190,190,190, 0.2);

  --product-button-bg: #c56000;
  --product-button-color: #424242;
  --product-button-hover-bg: #ff8f00;
  --product-button-hover-color: #870000;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body{
  background-color: var(--main-bg-color);
  color: var(--main-color);
}

@include DebugMedia();
